---
- name: Update package cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Install pip
  ansible.builtin.apt:
    name: python3-pip
    state: present
  when: ansible_os_family == "Debian"

- name: Install Helm
  ansible.builtin.shell: "{{ helm_install_install_helm_script }}"
  args:
    executable: /bin/bash
  become: yes
  run_once: true
