name: Creates administrative users for Ansible

concurrency:
  group: create-administrative-users-for-ansible-${{ github.ref }}
  cancel-in-progress: true

run-name: Create administrative users for Ansible

on:
  push:
    branches:
      - main
    paths:
      - bootstrap/playbooks/create_administrative_users.yml
      - .github/workflows/create_administrative_users_for_ansible.yaml
      - .github/workflows/run_ansible_playbook.yaml
  workflow_dispatch:

jobs:
  create-admin-users:
    uses: ./.github/workflows/run_ansible_playbook.yaml
    with:
      playbook_file: bootstrap/playbooks/create_administrative_users.yml
      additional_args: "ansible_user_public_key=${{ vars.ANSIBLE_USER_PUBLIC_KEY }}"
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SERVER_HOSTS: ${{ secrets.SERVER_HOSTS }}
      SSH_USER: ${{ secrets.SSH_USER }}
