name: Updates K3s version on existing cluster

concurrency:
  group: create-vms-and-bootstrap-k3s-${{ github.ref }}
  cancel-in-progress: true

run-name: Create VMs and Bootstrap k3s Cluster

on:
  workflow_dispatch:
    inputs:
      k3s_version:
        description: 'k3s version to install'
        required: false
        default: 'latest'
jobs:
  bootstap-cluster:
    uses: ./.github/workflows/run_ansible_playbook.yaml
    with:
      playbook_file: k3s.orchestration.upgrade
      additional_args: >
        ansible_user_public_key="${{ vars.ANSIBLE_USER_PUBLIC_KEY }}"
        vms_per_host="${{ inputs.vms_per_host }}"
        k3s_version="${{ inputs.k3s_version }}"
      # language=bash
      pre_run_script: |
        ansible-galaxy collection install git+https://github.com/k3s-io/k3s-ansible.git
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SERVER_HOSTS: ${{ secrets.SERVER_HOSTS }}
      SSH_USER: ${{ secrets.SSH_USER }}
